*{
  font-family: poppins;
}
#icon-color{
  color: white;
}
#class a:hover{
  color: #63E5FF;
}
.footer {
  width: 100%;
  background-color: gray;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}